@keyframes preloaderAnim {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

body {
  color: #fff;
  background-color: #000;
  & > div {
    min-height: calc(100vh - 56px);
  }
  & > nav {
    background-color: rgba(52, 58, 64, .85) !important;
  }
  & > .section > .container > h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 36px;
    span.dot {
      color: #00ff00;
    }
  }
}

#preloader {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	z-index: 10000;
	#preloader-circle {
		width: 100px;
		height: 100px;
		position: relative;
		top: 50%;
		left: 50%;
		right: 50%;
		bottom: 50%;
		margin-top: -50px;
		margin-left: -50px;
		animation: preloaderAnim 1.5s infinite linear;
	}
	&.loaded {
		display: none;
	}
}

#main {
  margin-top: 56px;
  padding-top: 20px;

  .container {
    #main__description {
      height: 100%;
      display: inline-block;
    }

    #main__image {
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      width: 100%;

      img {
        height: 100%;
      }
    }
  }
}

#features {
  .feature {
    text-align: center;
    margin-top: 15px;
    img {
      width: 80px;
      height: 80px;
    }
    p {
      margin-top: 15px;
    }
  }
}

#portfolio {
  .portfolio-card {
    // IMPORTANT !!! Border is not visible
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: calc(100vw - 10px);
    & > a {
      display: inline-block;
      width: 70%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-width: 1px;
      border-style: solid;
      border-color: #fff;
      border-top: none;
      border-right: none;
      border-left: none;
      @media screen and (max-width: 767px) {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
      }
      img {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        @media screen and (max-width: 767px) {
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
      }
    }
    //
  }
}
