@keyframes preloaderAnim {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
body {
  color: #fff;
  background-color: #000; }
  body > div {
    min-height: calc(100vh - 56px); }
  body > nav {
    background-color: rgba(52, 58, 64, 0.85) !important; }
  body > .section > .container > h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 36px; }
    body > .section > .container > h2 span.dot {
      color: #00ff00; }

#preloader {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 10000; }
  #preloader #preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    margin-top: -50px;
    margin-left: -50px;
    animation: preloaderAnim 1.5s infinite linear; }
  #preloader.loaded {
    display: none; }

#main {
  margin-top: 56px;
  padding-top: 20px; }
  #main .container .row {
    height: calc(100vh - 130px); }
  #main .container #main__description {
    display: inline-block; }
    #main .container #main__description h2 {
      font-size: 32px; }
    #main .container #main__description p {
      font-size: 22px; }
  #main .container #main__image {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    width: 100%; }
    #main .container #main__image img {
      height: 100%; }

#features .feature {
  text-align: center;
  margin-top: 15px; }
  #features .feature img {
    width: 80px;
    height: 80px; }
  #features .feature p {
    margin-top: 15px; }

#portfolio {
  margin-top: 50px; }
  #portfolio .portfolio-card {
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: calc(100vw - 10px); }
    #portfolio .portfolio-card > a {
      display: inline-block;
      width: 70%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-width: 1px;
      border-style: solid;
      border-color: #fff;
      border-top: none;
      border-right: none;
      border-left: none; }
      @media screen and (max-width: 767px) {
        #portfolio .portfolio-card > a {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          width: 100%; } }
      #portfolio .portfolio-card > a img {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px; }
        @media screen and (max-width: 767px) {
          #portfolio .portfolio-card > a img {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px; } }

#portfolio-work-description-full {
  margin-top: 65px; }
  #portfolio-work-description-full h1 {
    text-align: center; }

#contact {
  margin-top: 50px;
  text-align: center; }
  #contact ul {
    padding: 0;
    list-style-type: none; }
    #contact ul span.fa {
      display: inline-block;
      text-align: center;
      width: 22px; }
  #contact .contact-link a {
    color: #fff;
    font-size: 22px;
    padding-top: 10px; }

/*# sourceMappingURL=main.css.map */
