@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

@keyframes preloaderAnim {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

body {
  a {
    color: #0f0;
  }
  color: #fff;
  background-color: #000;
  & > div {
    min-height: calc(100vh - 56px);
  }
  & > nav {
    background-color: rgba(52, 58, 64, .85) !important;
  }
  & > .section {
    &:nth-child(2n+1) {
      background-color: #080808;
    }
    .container h2.section-title {
      padding-top: 25px;
      font-family: "Lobster", cursive;
      text-align: center;
      font-size: 36px;
      span.dot {
        color: #00ff00;
      }
    }
  }
}

#preloader {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	z-index: 10000;
	#preloader-circle {
		width: 100px;
		height: 100px;
		position: relative;
		top: 50%;
		left: 50%;
		right: 50%;
		bottom: 50%;
		margin-top: -50px;
		margin-left: -50px;
		animation: preloaderAnim 1.5s infinite linear;
	}
	&.loaded {
		display: none;
	}
}

#navbar {
  .navbar-brand {
    font-family: "Lobster", cursive;
  }
}

#main {
  margin-top: 56px;
  padding-top: 20px;

  .container {
    .row {
      height: calc(100vh - 130px);
    }
    #main__description {
      display: inline-block;
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 22px;
        @media screen and (max-width: 375px) {
          font-size: 18px;
        }
      }
    }

    #main__image {
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      width: 100%;

      img {
        height: 100%;
      }
    }
  }
}

#features {
  .feature {
    text-align: center;
    margin-top: 15px;
    img {
      width: 80px;
      height: 80px;
    }
    p {
      margin-top: 15px;
    }
  }
}

#portfolio {
  margin-top: 50px;
  padding-bottom: 30px;
  .portfolio-card {
    // IMPORTANT !!! Border is not visible
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: calc(100vw - 10px);
    & > a {
      display: inline-block;
      width: 70%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-width: 1px;
      border-style: solid;
      border-color: #fff;
      border-top: none;
      border-right: none;
      border-left: none;
      @media screen and (max-width: 767px) {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        width: 100%;
      }
      img {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        @media screen and (max-width: 767px) {
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
      }
    }
    & > span.screenshot-clickable {
      color: rgba(255, 255, 255, .5);
      font-size: 12px;
    }
  }
}

#pricing {
  .price-element {
    text-align: center;
    @media screen and (min-width: 768) {
      padding-top: 20px;
    }
    .price-element-image {
      width: 75px;
      height: 75px;
    }
    .price-element-description {
      padding-top: 15px;
    }
  }
  .additional-description {
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
  }
}

#portfolio-work-description-full {
  margin-top: 65px;
  h1 {
    text-align: center;
  }
}

#contact {
  margin-top: 50px;
  padding-top: 44px;
  text-align: center;
  min-height: calc(100vh - 56px);
  ul {
    padding: 0;
    list-style-type: none;
    span.fa {
      display: inline-block;
      text-align: center;
      width: 22px;
    }
  }
  .contact-link a {
    color: #fff;
    font-size: 22px;
    padding-top: 10px;
  }
}
