@media screen and (max-width: 767px) {
	#main-right {
		padding-left: calc(50% - 108px);
	}
	#main #main-left #main-link {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	#main > .container {
		margin-top: calc(50vh - 224px);
	}
}