* {box-sizing: border-box;}

.header, .main, .section {
	margin: 20px 0;
}

.form {
	border: 5px solid #7262C9;
	height: 315px;
}

.form input {
	width: 100%;
	height: 70px;
	margin-top: 9px;
	font-size: 24px;
	border: 2px solid #7262C9;
}

.form input:focus,
.form input:active,
.form input:focus-within {
	outline: none;
}

.form input#submit {
	background-color: #7262C9;
}

.feature-box {
	height: 160px;
}

.feature {
	margin: 35px auto;
}